  .information{
      color: #e9e9e9;
      font-size: 18px;
      background: rgba(32, 22, 22, 0.459);
      border-radius: 5px;
      text-align: center;
      height: 100%;
      width: 100%;
    }
    
.information > div{
      padding: 10px;
    }
     
.cartElement{
    }

.cartInformation{
      color: #e9e9e9;
      font-size: 18px;
      background: rgba(105, 89, 89, 0.459);
      border-radius: 10px;
      height: max-content;
      display: flex;
      flex-direction: column;
      width: 93%
    }
