.errorContainer{
  display: grid;
  height: 100%; 
  grid-template-columns: 2fr 6fr 2fr;
  grid-template-rows: 200px auto 150px;
  text-align: center;
}
.top{
  grid-column: 1/-1;
}
.bottom{
  grid-column: 1/-1;
}
.gridMiddle{
  color:rgb(78, 72, 72);
}

html,body{
  height: 100%;
  margin: 0px;
}
.container>div{
  display:flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.err404{
  height:200px;
  width: 450px;
}