// Demo Base Settings
html,
body {
  font-family: sans-serif;
  height: 100%;
  width: 100%;
  background-color: #d8cfcf;
}

// #c79c9c;

#body {
  margin-top: 0px;
}

.hide {
  display: none;
}

*:focus,
*:active,
.btn:focus {
  outline: 0 !important;
}

button.btn:focus {
  outline: 0;
}

#app,
#app>div {
  height: 100%;
  width: 100%;
}
