//Demo Colors
$gray: #cac8c8;
$white: #ffffff;
$white: #ffffff;
$placeholderText:#c4c4c4;

//sDemo pacing in pixels
$large-space: 100px;
$medium-Space: 50px;
$small-space: 10px;

//Demo spacing in percentage
$small-ratio: 5%;
$large-ratio: 100%;
$Xlarge-ratio: 300%;

//font family 
$font-family: 'sans-serif';
